.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-flow: dense;
    justify-items: center;
    gap: 20px;

    padding: 10px;
    margin-bottom: 5px;

    height: 65vh;
    overflow-y: scroll;

}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #0F9BB4, #30BB72);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #006f82, #00a04b);
}

.img {
    display: block;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
}