.main-search {
    display: grid;
    grid-template-columns: minmax(60px, 1fr) 90px;
    gap: 15px;
    padding: 20px 10px;
}

.main-search .search {
    grid-column: 1 / -1;

    padding: 10px 20px;
    background: #22252C;
    border-radius: 50px;
}

.search-by-click {
    grid-row: 2;
    padding: 10px 20px;
    border-radius: 50px;

    background-color: #87898D;
    color: #F2F2F3;
}

.more-btn {
    width: 90px;
    justify-self: end;
    align-self: center;

    padding: 5px;
    font-size: 1rem;
    border-radius: 20px;
    border: none;

    background: linear-gradient(90deg in oklab, #0F9BB4, #30BB72);
    color: #F2F2F3;
    cursor: pointer;
}