.main-search {
    display: grid;
    grid-template-columns: minmax(60px, 1fr) 90px;
    gap: 15px;
    padding: 15px 10px;
}

.main-search .search {
    grid-column: 1 / -1;
    color: #F2F2F3;
    padding: 10px 20px;
    background: #22252C;
    border-radius: 50px;
}

.search-by-click {
    grid-row: 2;
    padding: 10px 20px;
    border-radius: 50px;
    justify-content: center;
    background-color: #87898D;
    color: #F2F2F3;
}

.search-by-click span {
    margin: 5px;
}

.search-by-click span:hover {
    cursor: pointer;
}

.more-btn {
    width: 90px;
    justify-self: end;
    align-self: center;

    padding: 5px;
    font-size: 1rem;
    border-radius: 20px;
    border: none;

    background: rgb(15, 155, 180);
    background: -moz-linear-gradient(90deg, rgba(15, 155, 180, 1) 35%, rgba(48, 187, 114, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(15, 155, 180, 1) 35%, rgba(48, 187, 114, 1) 100%);
    background: linear-gradient(90deg, rgba(15, 155, 180, 1) 35%, rgba(48, 187, 114, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f9bb4", endColorstr="#30bb72", GradientType=1);
    color: #F2F2F3;
    cursor: pointer;
}