.file-input {
    display: none;
}


.drop-container {
    grid-column: 1/ -1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height: 70px;
    padding: 10px;
    border-radius: 10px;
    border: 2px dashed rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: rgb(15, 155, 180);
    background: -moz-linear-gradient(90deg, rgba(15, 155, 180, .3) 35%, rgba(48, 187, 114, .3) 100%);
    background: -webkit-linear-gradient(90deg, rgba(15, 155, 180, .3) 35%, rgba(48, 187, 114, .3) 100%);
    background: linear-gradient(90deg, rgba(15, 155, 180, .3) 35%, rgba(48, 187, 114, .3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f9bb4", endColorstr="#30bb72", GradientType=1);
    cursor: pointer;
    border-color: rgba(128, 128, 128, 0.5);
}

.drop-title {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

.drop-container:hover .drop-title {
    color: rgba(128, 128, 128, 0.5);
}

.upload-icon {
    width: 20px;
    color: rgba(128, 128, 128, 0.5);
}