/* MEDIUM */
@media (min-width:640px) {
    .toggle-menu-btn {
        display: none;
    }

    .main-nav-list {
        display: flex;
    }

    .editor-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .editor-setup {
        justify-self: start;
    }

    .main-header {
        border-radius: 50px;
        margin: 10px 5px;
    }
}